<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unimib.eden">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_innaffiatoio"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_innaffiatoio"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eden">
        <activity
            android:name=".ui.authentication.EntryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.authentication.AuthenticationActivity"
            android:exported="false"
            android:label="@string/title_activity_auth"
            android:theme="@style/Theme.Eden" >
        </activity>
        <activity
            android:name=".ui.colturaDetails.ColturaDetailsActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.searchPianta.SearchPiantaActivity"
            android:exported="false"
            android:noHistory="true"
            android:label="@string/title_activity_search_pianta"
            android:theme="@style/Theme.Eden" />
        <activity
            android:name=".ui.piantaDetails.PiantaDetailsActivity"
            android:noHistory="true"
            android:exported="true" />
        <activity
            android:name=".ui.filterSearch.FilterSearchActivity"
            android:noHistory="true"
            android:exported="true" />
        <activity
            android:name=".ui.inserimentoProdotto.InserimentoProdottoActivity"
            android:label="InserimentoProdottoActivity">
        </activity>
    </application>
</manifest>